header{
    height: 40px;
    background: linear-gradient(90deg, purple 20%, maroon 80%);
    color: white;
    line-height: 50px;
}
section{
    height: calc(100%-70%);
    color: white;
    background: linear-gradient(90deg, purple 0%, red 100%);
    height: calc(100% - 80px);
    overflow: auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 8pt;
    color: white;
    background: linear-gradient(90deg, red 0%, blue 100%);
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between
}

nav.logo{
    font-size: 10pt;
    font-weight: bold;
    margin-left: 0px;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0 10px;
}

nav .menu{
    margin-right: 15px;
    font-size: 20pt;
    display: none;
}

@media(max-width: 768px){
    nav .menu{
        display: block;
        cursor: pointer;
    }
    nav ul{
        display: none;
        position:sticky;
        top: 50px;
        background: white;
        width: 50%;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        background: linear-gradient(90deg, blue 0%, purple 100%);
        margin: 2px 0 0 0;
    }
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides{
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
}
.slide{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  flex-shrink: 0;
}
.s1{
    background-image: url('/images/b1.png');
}
.s2{
    background-image: url('/images/b2.png');
}
.s3{
    background-image: url('/images/b3.png');
}