#header{
    background-color: rgb(32, 128, 211);
    height: 30px;
    width: 100%;

}
#section{
    background-color: bisque;
    height: calc(100% - 60px);
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 20px;
    padding: 10px;
}
#foote{
    background-color: brown;
    height: 30px;
    width: 100%;
}
.logo{
    font-size: 18pt;
    font-weight: bold;
    margin-left: 15px;
}
.card{
    width: 100%;
    height: 100px;
    min-height: 200px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgb(0, 0, 0,0.2);
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}
.card img{
    width: 100%;
    height: 250px;
    display: block;
}
.card label{

    display: block;
    padding: 10px;
}
.card:hover{
    transform: translateY(-8px);
}